{% extends 'base.html' %}
{% block title %} Home {% endblock %} 
{% block body %}  

    <!-- container  -->
     <div class="container mt-5">
        <h3 class="mt-5">Add your resolution here !</h3>
        <form action="/" method="POST">
            <div class="mb-3 mt-3">
              <label for="title" class="form-label">Task Title :</label>
              <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Description :</label>
              <input type="text" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Submit</button>
        </form>
        <img src="/static/banner6.jpeg" alt="" style="height: 400px; width: 100%; object-fit: cover; margin-top: 50px; border-radius: 20px;">
          <h3 class="mt-5 mb-3">Your Resolutions : </h3>

          <!-- table  -->
          <table class="table">
            <thead>
              <tr>
                <th scope="col">S.no</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% if allTodo | length == 0 %}
              <tr>
                <td colspan="5" class="text-center">No data found</td>
              </tr>
                
              {% else %}   
       
              {% for todo in allTodo %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{todo.title}}</td>
                <td>{{todo.desc}}</td>
                <td>{{todo.date_created}}</td>
                <td>
                  <a href="update/{{todo.sno}}"  type="button" class="btn btn-primary btn-sm mx-2">Update</button>
                  <a href="delete/{{todo.sno}}" type="button" class="btn btn-danger btn-sm mx-2">Delete</button>
                </td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
          <!-- table end  -->
     </div>
     <!-- container end  -->
     {% endblock %}


