{% extends 'base.html' %}
{% block title %} Update {% endblock %} 
{% block body %}
        
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg" style="background-color: #ffcb6b; padding-left: 50px; padding-right: 50px;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>New year Resolution</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">My Resolutions</a>
              <a class="nav-link" href="#">contact me</a>
            </div>
          </div>
        </div>
      </nav>   
      <!-- navbar end  -->

    <!-- container  -->
     <div class="container mt-5">
        <h3 class="mt-5">Update Your Todo</h3>
        <form action="/update/{{upd_todo.sno}}" method="POST">
            <div class="mb-3 mt-3">
              <label for="title" class="form-label">update Title :</label>
              <input type="text" class="form-control" name="title" id="title" value="{{upd_todo.title}}" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Update Description :</label>
              <input type="text" value="{{upd_todo.desc}}" class="form-control" name="desc" id="desc">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Update</button>
        </form>
     </div>
     <!-- container end  -->
     {% endblock %}


